.hs-checkbox-container input[type="checkbox"] {
    display: none;
}
.hs-checkbox-container input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.hs-checkbox-container input[type="checkbox"] + label p {
    margin: 0;
}
.hs-checkbox-container input[type="checkbox"] + .disabled {
    color: #666;
}
.hs-checkbox-container input[type="checkbox"] + .disabled svg {
    fill:#888;
}