* {
    margin:0;
    padding:0;
    list-style: none;
}
.hs-accordion {
    width: 200px;
}
.hs-accordion .hs-accordion-menu {
    border: 1px solid #666666;
    padding: 8px;
    background: #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hs-accordion .hs-accordion-detail {
    background: #eee;
    min-height: 0;
    height: 0;
    visibility: hidden;
    box-sizing: border-box;
    overflow: hidden;
    transition: min-height 0.3s, visibility 0.3s;
}
.hs-accordion .hs-accordion-detail > div {
    padding: 8px;
}
.hs-accordion .hs-accordion-icon {
    display: flex;
    transition: transform 0.3s;
}

/*open*/
.hs-accordion.open .hs-accordion-detail {
    min-height: 100px;
    visibility: visible;
}
.hs-accordion.open .hs-accordion-icon {
    transform: rotate(180deg);
}