.hs-badge-container {
    padding: 8px 16px;
    border-radius: 4px;
}
.hs-badge-container.badge-fill {
    background: red;
    color: #fff;
    width: fit-content;
}
.hs-badge-container.badge-outline {
    color: red;
    border: 1px solid;
}